[2020-09-28 01:33] se7en102 opened #11 "please update guide"
Dear Author,
please update guide , it not maching with file name.

[2020-09-28 11:46] burningalchemist commented on #11
@se7en102, sure. Could you please point to the exact place?

[2020-10-19 10:27] burningalchemist commented on #11
Feel free to reopen it, I haven't found any mistake yet. 😃

[2020-10-19 10:27] #11 closed

[2020-10-30 08:32] dtoxin7 opened #12 "Backward compatible"
Hi! Is this fork backward compatible with the binary from original repo? Do the commands and functions that work in the original version also work in this one?

[2020-10-31 14:35] burningalchemist commented on #12
@dtoxin7 Yes it is. 👍 There are no breaking changes in commands and functions.
If there's a new approach, implementation or a breaking change, it will be a part of a new project.

The goal of this fork is:
- maintain the existing approach by original author;
- improve quality / fix issues;
- keep up with up-to-date dependencies, good security practices;
- add some features if necessary;
- support

[2020-11-01 06:20] dtoxin7 commented on #12
Thanks for your answer!

[2020-11-01 07:25] #12 closed

[2021-03-02 21:40] burningalchemist opened #13 "go v1.16 - build fails"
Running `make build` with Go v1.16 on `master` branch results in error:
[code]
There are some changes in the latest release of Go, but executing `go mod tidy` should fix `go.sum` file.
The code builds properly afterwards. 👍

[Reference link](https://github.com/golang/go/issues/44129#issuecomment-789135792)

[2021-03-02 21:40] #13 closed

[2021-03-03 15:54] jmrprieto opened #14 "Query.go scanDest function to return a clearer message when no rows are returned"
While testing the exporter with custom queries we hit a no rows returned situation and the error message returned by this function was not specific as to what the cause of the issue was.
Please add a condition that checks for number of rows bigger than zero and return an error message that clarifies this point.

[2021-03-03 16:05] burningalchemist commented on #14
Hi @jmrprieto! Could you please attach some details, logs or expected/happened info? It'd be helpful to investigate the issue and provide a solution faster. 👍

[2021-03-04 08:15] jmrprieto commented on #14
Sure, sorry I forgot to add anything relevant.
This is the situation.
We are testing custom queries to monitor blocked sessions in an Oracle
database.
We hit this error message (sorry I didn't grab the actual error message but
it was simply listing all the columns expected in the query):

column(s) %q missing from query result

We determined this error message coming from line 164 in query.go file

[2021-03-04 08:57] burningalchemist commented on #14
Hi @jmrprieto, yeah, I've got the point. I'll try to simulate the scenario and think about better error handling, there's some work to be done for sure. Thanks for your input! 👍

[2021-03-04 09:00] jmrprieto commented on #14
I simple check on "len(columns)=0" should be enough to determine this
scenario. The real question here is if you want to enforce that queries
always return at least one row or not. In our case we believe this should
be the way, others may think differently so, instead of an error message,
maybe issue a warning.
Good work maintaining this exporter, thank you.

[image: Pythian] <http://www.pythian.c

[2021-03-06 13:08] WalBeh opened #15 "Re-load on change of the configuration file or the collector files"
It would come quite handy if a change of the configuration file or the collector files is detected and a _reload_ is triggered. Especially handy while running it on k8s and providing the configuration as a kubernetes configmap.

I hope this makes sense.

thanks for the great work and best greetings,
Walter

[2021-03-06 20:49] #15 closed

[2021-03-06 20:53] burningalchemist commented on #13
Fixed in master

[2021-03-06 21:08] burningalchemist commented on #15
Hi Walter, the requested change was made for collector files, please take a look. It's a simple implementation, but hopefully will serve your needs. With the `/reload` handler enabled (via `-web.enable-reload` flag) we can reload the queries running against the configured connection. The watch function to detect changes in configMap has to be run externally at the moment (as a sidecar), e.g. with

[2021-03-12 16:41] #14 closed

[2021-04-22 13:02] koffemaria2u opened #25 "Possibility of adding snowflake key-pair authentication?"
Hi - I'm researching as part of a POC, appreciate the forking from orig free/sql_exporter to add snowflake support!

Like the title states, wondering if this is a possible enhancement as noted in the [snowflake docs](https://docs.snowflake.com/en/user-guide/key-pair-auth.html#supported-snowflake-clients).

[2021-04-22 15:33] burningalchemist commented on #25
Hi @koffemaria2u,

Thanks!

I see that key-pair authentication seems to be implemented in `gosnowflake` driver, and as the latest version has the latest driver, it should be possible. I'm less familiar with Snowflake as there is no easy way to spin up an instance to test it out. But at the same time, I'll try to investigate the topic better.

At the same time, there is a ticket in Github, accordin

[2021-04-23 18:42] koffemaria2u commented on #25
@burningalchemist - somehow I missed this part on their repo, thanks for the heads up! I will try setting this up and get back to you.

[2021-05-01 08:29] burningalchemist opened #26 "Dependabot - google/flatbuffers 1.12 checksum mismatch"
[code]

The issue happens only at the GitHub-native Dependabot flow, and mostly likely is related to a release quirk of a problematic module.

Looking for ways to find a workaround in Dependabot.

[2021-05-03 14:01] koffemaria2u commented on #25
Hi @burningalchemist - quick update, I do think it's possible as well. However I can't seem to put together the proper connection string to make it work.

I've tried the following (among other combinations) based on the [doc examples](https://pkg.go.dev/github.com/snowflakedb/gosnowflake#hdr-Connection_String) but mostly getting "260001: user is empty" error. I'm aIso wondering if this particular

[2021-05-03 15:18] burningalchemist commented on #25
Hi @koffemaria2u! Hmmm, ok let's dig further. Could you provide more details? I don't know exactly what I'd like to know, but maybe some ideas:
- logs from the app;
- how the private key is supplied;

From the link I previously shared, developers mention that:

[code]
The key in `rsa_key_nohdr_urlbase64.p8` will be a base64 encoded url safe pkcs#8.
Do you supply the key in this format?

Currently,

[2021-05-03 16:10] koffemaria2u commented on #25
For some context, I am using AWS Secrets Manager to store the private key, and using [konfd](https://github.com/kelseyhightower/konfd)  to generate a kubernetes `secret` resource which contains the entire configmap (base64 encoded). This works fine with user/pass auth.

This is how I build the connection string:
`target:
      data_source_name: snowflake://
      {{- secret "aws-secrets-path" "use

[2021-05-03 17:07] burningalchemist commented on #25
@koffemaria2u This is decent, thank you! 👍 Seems like it's a good field for the experiments. 😃 I've checked the [docs](https://pkg.go.dev/github.com/snowflakedb/gosnowflake#hdr-JWT_authentication), where they constantly mention that the private key should be `base64 URL encoded PKCS8 rsa private key string`, which we produce somehow (either via Golang or openssl command). But the public key as wel

[2021-05-03 18:33] koffemaria2u commented on #25
@burningalchemist unfortunately, I'm unable to set a non-base64 public key on the snowflake user side. There is a policy that only takes proper formatted public keys. I'm also now in contact with some snowflake reps/engineers to see if they are able to check some internal logs. I will post an update of their findings once I get any.

Can you elaborate on connecting to the instance directly using t

[2021-05-03 19:01] burningalchemist commented on #25
@koffemaria2u yes, will do shortly. 👍

[2021-05-03 21:08] burningalchemist commented on #25
@koffemaria2u that's actually good. As per documentation we need to provide base64-encoded keys on the both sides. I just wanted to make sure you do so, and use `ALTER USER <your_user_name> SET RSA_PUBLIC_KEY='<your_public_key>';` with a proper value.

As for the example link above, it's a simple select query and it might be useful to try to connect to the database instance without any sql_exporte

[2021-05-04 11:14] koffemaria2u commented on #25
@burningalchemist Hmm... I wonder how would it be possible to apply base-64 encoded public key on the snowflake username side, if there are requirements it must match? It's failing for me to add base-64 encoded, only non-encoded works.

No response yet from Snowflake reps.

[2021-05-04 11:59] burningalchemist commented on #25
@koffemaria2u could be related, as that's what mentioned in the docs. Might be a bug or something. Let's see what they say.

How difficult for me would it be to recreate the environment you have? If you could provide some steps, I would pick a trial account to debug as well.

[2021-05-04 14:47] koffemaria2u commented on #25
@burningalchemist I don't believe it's necessary to recreate my current env, it will just add more complexity. All we have to do is figure out the proper connection string format to pass to snowflake db. You can setup an instance of your sql-exporter on k8s or docker for example, and pass a hardcoded conn string via your `ConfigMap` yaml to your trial snowflake db.

On the snowflake side, it's pre

[2021-05-04 14:50] burningalchemist commented on #25
@koffemaria2u sure, I meant the Snowflake environment. 👍 Cool, I'll take a look.

[2021-05-04 21:45] burningalchemist commented on #25
@koffemaria2u It seems I managed to connect with SNOWFLAKE_JWT properly. I'm going share my findings tomorrow morning. 👍

[2021-05-05 09:58] burningalchemist commented on #25
@koffemaria2u I'm going to share the steps I made with regards to key generation and connection DSN, etc:

1. Generate a new private key:
`openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:2048 -pkeyopt rsa_keygen_pubexp:65537 > key.pem`
2. Extract a public key to add on the Snowflake side, remove the new lines and delimiters:
`openssl pkey -pubout -inform pem -outform pem -in key.pem -out k

[2021-05-05 16:13] koffemaria2u commented on #25
@burningalchemist amazing, this works! Thank you so much for your help!

Lessons learned:
1. The substitution of URL-safe symbols (#3 in previous comment) in the private key is very important.
2. I do believe the DSN format matters, with respect to the `port` (443). I think it has to be specified somehow or it did not work for me. I had not been including the port when using user/pw auth.

My work

[2021-05-05 16:14] #25 closed

[2021-05-05 16:17] burningalchemist commented on #25
@koffemaria2u I'm also preparing a new documentation page, so I'll include proper configuration for Snowflake as well. Thanks for collaboration! 👍

[2021-05-06 22:29] AnserAli57 opened #27 "Select 1 - Exporter keeps running select 1 query to keep warehouse alive"
I have set the min_interval for 30m hopping that queries run in every 30 minutes but whenever Prometheus request exporter to scrape it won't run the queries due to min_interval instead its run select 1 query to keep the warehouse alive

[2021-05-07 06:00] burningalchemist commented on #27
Hi @AnserAli57,

Could you please describe the desired behaviour from your perspective?

I'm trying to understand the issue, but so far I can tell, that we run `select 1` periodically as a ping to make sure the connection established is healthy.

We do not connect to the database each time - it would be resource-intensive. Instead, we have a connection pool of of open and idle connections that we

[2021-05-07 06:42] AnserAli57 commented on #27
Hi
So my database is Snowflake
My desired behavior is that when prom request the exporter then exporter runs metrics with interval of 30 minutes . and between those interval  whenever prom request exporter to scrape ( by default 15 seconds ) it should just scrape already fetched metrics from the exporter while queries won't run until  min_interval and won't make any connection with my snowflake wa

[2021-05-08 13:29] burningalchemist commented on #27
Hi @AnserAli57,

It looks like you want to disable the ping behaviour against SnowflakeDB. This is tricky as it doesn't align with the general behaviour of the application, where we want to keep the connection healthy and alive.

Without periodically pinging the database, we can't be sure that the connection is up to make a request when it's needed. This brings uncertainty and might break the appl

[2021-05-10 15:27] mapshen commented on #27
@burningalchemist pardon me for jumping in. In our use case, we don't need to check the connections to Snowflake that frequently, as each check will cost us money.

Introducing a poll interval option would really help. In fact, that's how many other exporters approach it. On top of it, these exporters would often expose a metric on the upness of the upstream service based on the interval configure

[2021-05-10 16:19] burningalchemist commented on #27
Hi @mapshen! Yeah, I've checked the docs of Snowflake over the weekend to figure out the details of pricing. It's a tricky one. Anyways, I'll try to take a look into it. It might take some time, that's why the solution I offered above seems to help with mitigating the issue at the moment.

[2021-05-15 15:22] burningalchemist commented on #27
Hi @mapshen @AnserAli57, I was able to reproduce the issue you're having with `SELECT 1`, prepared a quick solution. I'm currently looking into a better one. I'll keep you posted. 👍

[2021-05-15 17:43] #27 closed

[2021-05-15 17:47] burningalchemist commented on #27
@mapshen @AnserAli57 Current solution is to add the new flag in the arguments:
[code]
I've tested it with SnowflakeDB instance and can confirm that we don't have any unnecessary `SELECT 1` queries. I'm going to prepare a new release shortly. Let me know if you have any further issues. I'm unable to extensively test it against SnowflakeDB, so your feedback is appreciated. 👍

[2021-05-21 09:08] burningalchemist commented on #27
Hey @mapshen @AnserAli57, I'd like to know if you had a chance to try a new version already? Would be really cool to get your feedback. 👍

[2021-05-23 14:57] mapshen commented on #27
Hey @burningalchemist, thanks so much for the fix! @AnserAli57 is testing it and will report back.

[2021-05-24 07:48] AnserAli57 commented on #27
Hey @burningalchemist Thanks a lot for the Fix it worked . we are not getting any Ping from exporter with select 1

[2021-05-24 08:05] burningalchemist commented on #27
@AnserAli57 Cool, glad it worked for you! 👍 Please keep watching for the connectivity issues. As I mentioned before, I assume the connection to be reestablished in case of a bad one, but nothing is perfect. 😃

[2021-05-26 09:22] ambu50 opened #37 "Collect from multiple databases"
Hi,

Is there a way to collect from multiple databases? I am using mysql data source and would like to read from two different databases within the same server.

[2021-05-26 21:34] burningalchemist commented on #37
Hi @ambu50,

Try to apply the following snippet at sql_exporter.yml with your own adjustments:

[code]

You need to replace `target` object from the default configuration with `jobs`. And `collectors` becomes a part of `jobs` as well, so no duplicates.

`mysql1`, `mysql2` are arbitrary names, can be anything.

Let me know if it works for you. I made a quick test, but didn't look deeper. 🙂

[2021-05-27 05:43] ambu50 commented on #37
Hi,

Thanks for your reply. My question was actually about accessing two databases from the same DBMS host. My issue was that I included the database name in the DSN like this: mysql://tcp(host1:3306)/db1. The solution is to remove the database name from the DSN then include it in the mysql query like this "select count(*) from db1.table1"

I am sure your solution will help some other users with m

[2021-05-27 05:43] #37 closed

[2021-05-27 05:53] burningalchemist commented on #37
Hey @ambu50, oh I'm sorry, I misunderstood that you meant logical databases, not database instances. Yes, this is the way. 🙂👍

[2021-09-10 12:36] giskou opened #56 "Feature Request: Get target connection string from ENV variables"

[2021-11-03 18:41] jesus-velez opened #66 "Connection Closure"
I was not sure where to ask this, if this is not the right place please point me in the right direction. Firstly, thank you for maintaining this project. My question is regarding connection closure after the query is executed, it looks like connections are maintained and queries are executed every scrape. If I wanted to end the query after the query is executed; would this be possible? I use the e

[2021-11-03 20:05] jesus-velez commented on #66
I found [#27 ](https://github.com/burningalchemist/sql_exporter/issues/27#issuecomment-841700029) would this change the behavior of keeping the connection open? I basically use queries to get database health or information while also testing the the VIP works. I do this on MySQL, SQLServer and postgres.

[2021-11-04 12:47] burningalchemist commented on #66
Hi @jesus-velez! I don't think disabling ping would help in your case. The issue reporters of #27 had was due to the warehouse being in active state (instead of being suspended) and associated charges. Say, Snowflake specific things.

As far as I got, you would like to disconnect each time after receiving a response. Please correct me if I understood it wrong. The thing managing connections with a

[2021-11-04 14:48] burningalchemist commented on #66
Thanks for the details. :+1:

Yeah, the settings above should suffice. You can additionally set `max_connections` to 1 - this will limit the maximum number of open connections to the database.

For opened sessions you can also double check the session manager on the database side to make sure there's no opened connections.

[2021-11-04 18:36] #56 closed

[2021-11-11 15:09] jesus-velez commented on #66
I have this opened while I test, will close it as soon as I am done. Again thanks for the help.

[2021-11-11 17:14] burningalchemist commented on #66
Yup! Let me know if anything, happy to assist. 🙂👍

[2021-11-15 20:19] jesus-velez commented on #66
After testing this it does achieve the connect disconnect that I was looking for, but I lost some features along the way. It used to log when a host was not reachable for example:

[code]

Is now being reported as 1 on the metrics instead of 0. Any idea on what might be causing this?

[code]

[2021-11-15 20:21] jesus-velez commented on #66
I think I figured that out immediately after posting this its the ping = false configuration.

[2021-11-15 20:44] burningalchemist commented on #66
Hi @jesus-velez! I'll take a look, it doesn't sound good to me. Thanks for the feedback! 🙂

Did you achieve the goal without setting ping value to false?

[2021-11-15 21:27] jesus-velez commented on #66
I did!

[code]

[2021-11-15 21:42] burningalchemist commented on #66
Perfect!

Ok, I'll create a separate issue for the ping misbehaviour. 👍

[2021-11-23 20:11] jesus-velez commented on #66
Working great so far. Thanks for all the help.

[2021-11-23 20:11] #66 closed

[2021-12-20 16:06] burningalchemist opened #73 "Fix code scanning alert - Log entries created from user input"
Tracking issue for:
- [ ] https://github.com/burningalchemist/sql_exporter/security/code-scanning/3

[2021-12-20 21:39] #73 closed

[2022-02-16 14:03] NicoForce opened #85 "Different interval per query"
**Is your feature request related to a problem? Please describe.**
Greetings, I have queries that should scrape in different intervals, due to the time they take being more than 10m or 30m.

**Describe the solution you'd like**
I would like to be able to configure the interval on a per query basis, I don't know if this is possible atm.

**Describe alternatives you've considered**
I've tested other

[2022-03-16 18:06] #85 closed

[2022-04-12 11:20] kampagnol opened #93 "Debian package for sql_exporter"
**Is your feature request related to a problem? Please describe.**
I woud like a properly packaged binary for deployment on debian (and possibly other debian-based systemd systems).

**Describe the solution you'd like**
A downloadable .DEB, or (better still) inclusion in the regular debian repositories.

**Describe alternatives you've considered**
It is possible to deploy using the release TAR, bu

[2022-04-12 12:28] burningalchemist commented on #93
@kampagnol

Hi Kevin,

Yeah, I'd say if there is demand, why not. I'm happy to add deb packages as well. Feel free to share if you already have something. I'll take a look. :+1:

I can create a deb package as another artifact that can be downloaded from the Github release page. Would this work for you? I don't think I have the resources to maintain a separate deb repository for one application.

I

[2022-04-12 13:26] kampagnol commented on #93
Artifact in the same repository seems just fine to me.

Currently there is a "prometheus-sql-exporter" in the debian repository - I am assuming there are functional differences there; do you have any pointers on the what the differences may be? This might play a part in the "naming" of the deb package.

[2022-04-12 13:53] kampagnol commented on #93
I am attaching a tar.gz of what I've done so far

[prometheus-mssql-exporter-0.8.6.tar.gz](https://github.com/burningalchemist/sql_exporter/files/8473374/prometheus-mssql-exporter-0.8.6.tar.gz)

Salient points:

- I named the package "prometheus-mssql-exporter" - but of course that's just me; the package file contents and/or names would have to be adjusted for whatever name you use
- ./debian/chan

[2022-04-12 14:51] kampagnol commented on #93
...and even though I don't have much free time, yes I would assist with the task of submitting to debian repositories. But I suppose one would need to iron out some things first.

Regards, Kevin

[2022-04-13 09:27] burningalchemist commented on #93
@kampagnol Thanks! I have also limited availability at the moment but I'll try to take a look soon and keep you posted. :+1:

[2022-04-19 09:07] burningalchemist commented on #93
Hi @kampagnol! Just a quick update. I've taken a look at packaging `sql_exporter` as a package for linux distributions. It looks trivial, so I'll schedule some time and try to integrate it with the current release flow. The package should be available in the list of artifacts for future releases. Stay tuned. :)

As for adding it to the linux repositories, it might be a bit tricky. Some of the embe

[2022-04-21 09:46] kampagnol commented on #93
Great news, I'll wait for more feedback!

Regards, Kevin.

[2022-06-23 15:11] RickMura opened #109 "Good news for Clustered Instances"
Good news for clustered instances.
Windows Exporter project uploaded an update on master to collect windows cluster data 4 days ago.
https://github.com/prometheus-community/windows_exporter

[2022-06-23 15:25] RickMura opened #110 "Is connecting to SQL 2005 supported?"
I tried to connect to an instance I have here but I got the following error message.
I0609 13:48:51.560255 6 promhttp.go:38] Error gathering metrics: [from Gatherer #1] Login error: EOF
I0609 13:49:21.536107 6 promhttp.go:38] Error gathering metrics: [from Gatherer #1] Login error: EOF
I0609 13:49:51.527936 6 promhttp.go:38] Error gathering metrics: [from Gatherer #1] Login error: read tcp prometh

[2022-06-23 15:32] burningalchemist commented on #110
Hi @RickMura! The error comes from the mssql driver.

I've taken a look at the repo and found your case. Take a look here: https://github.com/denisenkom/go-mssqldb/issues/399

So answering your question, it's supported but might require some additional configuration.

Let me know if this helped.

Cheers,
Sergei

[2022-06-23 15:34] #109 closed

[2022-06-24 13:17] MRTRALHA opened #111 "SQL Exec function not supported? - Database FreeSpace"
Hello,

Sql-exporter Go1.17
Mssql 12.0.41

I've tried to execute a query to get the FreeSpacem DatabaseMaxSize and DatabaseSize for all the databases the user has access:

EXEC sp_msforeachdb
'USE [?];
SELECT DB_NAME() AS DbName,
        name AS FileName,
        type_desc,
        size/128.0 AS CurrentSizeMB,
        size/128.0 - CAST(FILEPROPERTY(name, ''SpaceUsed'') AS INT)/128.0 AS FreeSpaceMB

[2022-06-27 14:06] MRTRALHA commented on #111
Hi all,

I resolve the problem with this query:

   SELECT
        d.name AS 'DbName',
        m.name AS 'FileName',
        m.size/128 as 'ActualFileSizeMb',
        SUM(m.size * 8/1024) OVER (PARTITION BY d.name) AS 'DatabaseTotalSizeMb',
        m.max_size/128 as 'MaxFileSizeMb',
        (SUM(m.size * 8/1024) OVER (PARTITION BY d.name)) - m.size/128 as 'FreeSpaceMb'
        FROM sys.master_file

[2022-06-27 14:16] MRTRALHA opened #112 "Multiples Datasources on the same sql-exporter"
Hello,

I've read the config but haven't found a reference to this.

is it possible in the same sql-exporter service to have several datasources with the same/different collectors?

My ideia is that I need the database size of several databases that are in different ms-sql servers.

Can the data source be in the collectors files and we just say in the sql_exporter.yml to use the collectors files?

[2022-06-27 15:39] burningalchemist commented on #112
Hi @MRTRALHA,

Although it's not documented at the moment, I'd try something similar to [this](https://github.com/burningalchemist/sql_exporter/issues/37#issuecomment-849135820) solution.

In other words, we want to use a configured `jobs` construct instead of `target`.
I'd suggest trying it out.

Overall, we don't want to over-complicate the exporter given its small size. But hope it helps.

Chee

[2022-07-05 18:58] burningalchemist commented on #110
@RickMura did it help in the end? :)

[2022-07-06 09:23] #110 closed

[2022-07-19 10:28] #112 closed

[2022-08-01 08:12] Nootb opened #117 "Multiple queries under 1 metric"
Hello!
It would be very useful to allow for multiple select (and other) queries under 1 metric

An example use case:
Monitoring query completion time

[code]

And `elapsed_ms` could go in values to be scraped

It seems that right now, the exporter only takes the first select query and ignores others whether it has a AS command or not

[2022-08-01 08:49] burningalchemist commented on #117
Hi @Nootb, let me take a look and thanks for the example. 👍

[2022-08-01 13:39] burningalchemist commented on #117
@Nootb, sql_exporter is using `database/sql` package as the interface for the available drivers. As per [documentation](http://go-database-sql.org/surprises.html#multiple-statement-support) there are existing limitations.

As far as I know there's a proposal to enable batch queries in `database/sql`, but it's not merged yet anyway.

If you're interested specifically in query duration, I think this

[2022-08-01 16:48] Nootb commented on #117
Thanks for the detailed answer!

[2022-08-02 12:08] prashantnitt07 opened #122 "from Gatherer #1] pq: SSL is not enabled on the server"
getting error from sql_exporter agent

No metrics gathered, [from Gatherer #1] pq: SSL is not enabled on the server

[2022-08-02 12:33] prashantnitt07 commented on #122
I0802 17:54:36.378701 2655919 promhttp.go:39] Error gathering metrics: [from Gatherer #1] pq: SSL is not enabled on the server
I0802 17:56:11.561959 2655919 promhttp.go:39] Error gathering metrics: [from Gatherer #1] pq: SSL is not enabled on the server
I0802 17:59:24.927661 2655919 promhttp.go:39] Error gathering metrics: [from Gatherer #1] pq: SSL is not enabled on the server
^C

[2022-08-02 12:53] burningalchemist commented on #122
Hi @prashantnitt07, not a bug. The message comes from the driver and states that the PostgreSQL doesn't have SSL connection enabled.

You can add `?sslmode=disable` parameter to your connection string, this should solve the issue.

[2022-08-02 12:57] #122 closed

[2022-08-02 15:09] prashantnitt07 commented on #122
thanks , working fine after add in DSN

[2022-08-02 15:09] prashantnitt07 commented on #122
postgres://username:password@host:5432/database?sslmode=disable

[2022-08-04 15:12] burningalchemist commented on #93
Hi @kampagnol, I'm sorry for the silence, there is a lot of stuff going on.

I didn't forget about this issue, though. I've prepared the deb/rpm package provisioning process. I still need to test some OS-specific configuration parameters (e.g. systemd parameters, defaults, etc). But it should be available with the next release (v0.8.8).

[2022-08-07 20:00] burningalchemist commented on #93
Deb/rpm packages should be available with the next release as downloadable artifacts.

[2022-08-07 20:00] #93 closed

[2022-08-08 04:48] kampagnol commented on #93
That's great to hear, and many thanks. Looking forward to testing it as soon as it becomes available.

[2022-08-09 19:44] alex1989hu opened #133 "Lock Go version"
**Is your feature request related to a problem? Please describe.**

I found in my previous PR that the GitHub `setup-go` action is configured to `1.17.z` with caret comparator <https://github.com/npm/node-semver#caret-ranges-123-025-004> that is why my first try failed.

As of now `go.mod` is set to Go `1.16` but the setup-go action will always use the latest `1.minor` version.

On the other hand

[2022-08-09 20:27] burningalchemist commented on #133
Hey @alex1989hu, thanks for suggestions. Some feedback from my side:

`go.mod` references a _minimum_ version of Go required by the module as per docs, so we increase it periodically. `v1.16` is a valid version so far.

`setup-go` the way it's set in Github Actions allows me to stay up to date with a new released Go version whenever it's generally available, and to fail early if there is any issue

[2022-08-31 19:13] reubano opened #138 "Azure Active Directory authentication (AAD)"
**Is your feature request related to a problem? Please describe.**
I would like to be able to authenticate with Azure SQL via AAD

**Describe the solution you'd like**

https://github.com/denisenkom/go-mssqldb#azure-active-directory-authentication

[2022-08-31 22:36] burningalchemist commented on #138
Hi @reubano, thanks for the suggestion. We would need to provide a pull request to the upstream to include `azuresql` schema to `xo/dburl` to recognise the DSN. This seems to be a small change, so the draft PR is created already.

After it's merged, you will need add/replace the [package](https://github.com/burningalchemist/sql_exporter/blob/f9bfce81120943fb758cba220f3377b5f019cc53/drivers.go#L7)

[2022-09-01 11:06] aefde opened #139 "basic authentication is not implemented"
Hi

I downloaded latest version for windows and installed.

But I can't see option "--web.config.file" for basic authentication indicated in document.

######################################################
flag provided but not defined: -web.config.file
Usage of C:\Program Files\sql_exporter\sql_exporter.exe:
  -add_dir_header
        If true, adds the file directory to the header of the log mess

[2022-09-01 11:20] burningalchemist commented on #139
Hey @aefde, it's implemented but not released yet. You can clone the `master` branch and build it yourself in the meantime (check the docs).

Let me know if you need help.

[2022-09-01 12:02] aefde commented on #139
Ok, thanks.

[2022-09-01 12:02] #139 closed

[2022-09-07 08:29] myabce opened #144 "dashboard"
has a dashboard for this sql_exporter？

[2022-09-07 11:05] BenHesketh21 opened #145 "Collected Before Error"
**Describe the bug**
At the moment any metrics the exporter collects create an error: "was collected before with the same name and label values"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a metric that wont change value on the next run

**Expected behavior**
I wouldn't have thought this was an error, this is surely a common occurrence?

[2022-09-07 19:51] burningalchemist commented on #145
Hi @BenHesketh21,

I need more details as the steps you described won't help with reproducing the case.

Could you please share the following details:
- db driver
- the configuration file

My current assumption is that something is wrong in your configuration file.

[2022-09-07 19:55] burningalchemist commented on #144
Hi @myabce,

do you mean Grafana dashboard? There is no dashboard as the metrics are arbitrary.

[2022-09-08 09:45] burningalchemist commented on #138
Hi @reubano, the aforementioned PR is merged. I've also updated the version of dburl on our side. So, to test whether it works, you need to do the following:

- clone the current master
- update the package as per link above (simply add `/azuread`)
- run `make build` to produce the binary
- try it out with your configuration file

Please let me know if you need any assistance. Unfortunately, I don

[2022-09-08 19:33] verticacrossman opened #147 "Using your repo as the base for our Vertica centric exporter repo"
Hi,
Sorry, couldn't find any other way to reach out. I work for Vertica in the Partner Engineering/Integrations group. We recently pulled your repo to use as a starting point for a Vertica centric open source exporter, as last year you had added Vertica support for connectivity. We are basically stripping out the other databases, adding Vertica centric enhancements including Vertica metric file ex

[2022-09-09 08:19] burningalchemist commented on #147
@verticacrossman

Hey Stephen, thanks for letting me now. :+1:
It'd be great to know about the breaking changes you identified.

Besides that, I guess it's a good idea. I'd then go and disable vertica driver from the basic installation, and instead point at your vendor-maintained exporter.

My email for the contacts (just in case): `oss[at]szyubin[dot]me`

Kind regards,
Sergei

[2022-09-12 07:41] burningalchemist commented on #145
Let me know if you need any additional help, I'll close the issue so far.

[2022-09-12 07:41] #145 closed

[2022-09-12 07:41] #147 closed

[2022-09-12 07:42] #144 closed

[2022-09-27 17:41] reubano commented on #138
Thanks! I'm waiting to get access to a component in my app before I can test this. I'll keep you posted!

[2022-10-20 09:57] jakob-reesalu opened #154 "No metrics for collector: query works in one case, not in other"
Hi! I got one collector working but got issues with the second one. It's something with the query, will be a long running one in the end, like 15-30mins (gonna run once a day). It's purpose is to scan all all indexes on some tables for all dbs.

I started chopping the query up to find when it works and when it won't. At some occasions I got "context deadline exceeded" messages. I read up on some o

[2022-10-20 10:25] burningalchemist commented on #154
Hey @jakob-reesalu, I commented on the logging stuff in the PR, please take a look.

As for the query issue, I'm happy to pair up to investigate and solve the issue. :+1: Could you share the message you get if you run the full query? If you like we can also hop on a call or something, as I don't really have MSSQL around to try things out on my side.

[2022-10-20 10:48] jakob-reesalu commented on #154
@burningalchemist Thanks a lot! I didn't try the full query iterating through all DBs as it takes 15+ mins. But when manipulating it to just do the first DB in the list (which takes 1 sec querying the DB server directly), I get no error, just an infomsg of the returned columns. Log level is debug.

I'm up for a call, just gotta have lunch first. When are you available and how to contact you? Maybe

[2022-10-20 10:51] burningalchemist commented on #154
@jakob-reesalu Feel free to pick up the slot here: https://calendly.com/szyubin
I'm available roughly after 4pm today. Google Meet or Jitsi both should work. :+1:

[2022-10-20 10:56] jakob-reesalu commented on #154
@burningalchemist Dang it, I gotta leave at about 4pm specifically today. xD I'll continue troubleshooting during the day, maybe a call tomorrow instead?

[2022-10-20 11:15] burningalchemist commented on #154
@jakob-reesalu Yeah, tomorrow works too, also after 4pm unfortunately. But in the meantime, if could drop any intermediate results, that might be useful. :+1:

[2022-10-20 11:16] burningalchemist commented on #154
Could you drop me a screenshot from SQL Management Studio (with sensitive parts removed if there are any) for the full query you expect to run? I might have an idea. :+1:

[2022-10-20 11:33] jakob-reesalu commented on #154
@burningalchemist Alright! Here you go:
![image](https://user-images.githubusercontent.com/90682291/196937403-a6182f9d-09b5-4807-9c8d-2f892af01c33.png)

[2022-10-20 11:43] jakob-reesalu commented on #154
@burningalchemist Having been away on lunch, letting the exporter run, I found a bunch of "context deadline exceeded" errors (this is the above posted query but set to only check 1 DB):

"index_fragmentation_checks" is the collector at issue

[code]

[2022-10-20 20:17] burningalchemist commented on #154
@jakob-reesalu thanks, let's try to catch up tomorrow, I have some thoughts. :+1:

[2022-10-24 11:37] jakob-reesalu commented on #154
@burningalchemist Yo! So I tried usql as we talked about. It gave this error:
`"Must declare the scalar variable "@currentDb"."`

Problem is, the variable is declared in the query above. Googling on it, some ppl suggested this can happen when mixing dynamic and static SQL so eventually I put the whole query within the @sql variable and then EXECUTE(@sql) on that. Didn't get any error message but n

[2022-10-25 07:19] jakob-reesalu commented on #154
@burningalchemist FYI: the issue might be with doing INNER JOIN with other tables. Because I use a while loop and declare variables in other queries that work, but I don't do joins there. So maybe that's the issue, in case you encounter some similar issue in the future!

[2022-10-25 07:23] burningalchemist commented on #154
@jakob-reesalu

Hey Jakob! Thanks for the follow up and the detailed investigation. 👍

Let me think what I can do to get access to some MSSQL server to check your hypothesis.

If I get any results or explanation I'll mention you in this issue.

What's your MSSQL version by the way?

[2022-10-25 07:35] jakob-reesalu commented on #154
No worries :)

Additionally on INNER JOIN. I noticed that INNER JOIN is used in the example config so it can't be that SQL Exporter can't deal with it. But I see that it only appears under the "queries" property (like the below one) and then is referenced under the "query_ref" property of a metric:
[code]
So I gave it a try and placed my complex query under that property and then referenced it wit

[2022-10-25 12:19] burningalchemist commented on #154
@jakob-reesalu Thanks for sharing the query, I'll use it on my end to investigate. :+1:

So if you run it several times it returns nothing? Any logs on the SQL Exporter side or MSSQL side?

[2022-10-25 14:45] jakob-reesalu commented on #154
@burningalchemist You're welcome ;)

So, me and a colleague looked at the issue and we changed some things, like declaring each variable in a separate DECLARE statement and changing temporary tables to variables instead.

The query now looks like this:
[code]

This gives the following result in usql now:
[code]

So.... something with variable declarations it seems, but I don't get what really. I h

[2022-10-27 09:58] burningalchemist commented on #154
@jakob-reesalu I think the problem that you're using multiple statement query, which isn't supported. `DECLARE` is a statement itself. The other question is if it works for some other queries (which in fact it should not).

I'm still trying to get an access to MSSQL 2014 somewhere to try things out myself. :)

[2022-10-28 17:46] DerfOh opened #155 "Spaces in %SQL_EXPORTER_PATH% prevents service startup"
**Describe the bug**
The exporter service fails to start when the path includes a space

**To Reproduce**
Steps to reproduce the behavior:
1. Download necessary files to C:\Program Files\sql-exporter
2. Use examples in README.md to create service entry in windows
3. Open services dialogue, click on created service and run
4. See error: windows could not start the SqlExporterSvc service on local co

[2022-10-28 18:44] burningalchemist commented on #155
Hi @DerfOh, it's not a part of `sql_exporter` implementation on how to handle paths in Windows.

The standard way to ensure Windows treats a file path properly is to enclose it in double quotation mark (") characters. Give it a shot. :+1:

[2022-10-28 18:48] DerfOh commented on #155
To clarify you're saying if I have spaces to try wrapping the example command with a second set of quotes as such?
[code]

[2022-10-28 19:04] DerfOh commented on #155
Understand now what you meant by it being a windows issue. Fixed it by using a single quote and surrounding paths with doubles as follows:

New-Service -name "SqlExporterSvc" `
-BinaryPathName '"C:\Program Files\sql-exporter\sql_exporter.exe" -config.file "C:\Program Files\sql-exporter\sql_exporter.yml"' `
-StartupType Automatic `
-DisplayName "Prometheus SQL Exporter"`

[2022-10-28 19:04] #155 closed

[2022-10-28 19:32] burningalchemist commented on #155
I had to find my old Windows laptop to try it out. But yeah, exactly this. 👍

[2022-10-28 19:39] DerfOh commented on #155
Thanks! I imagine there's a better way to do it, not sure if single quotes will break variable expansion, but this works for me for now.

[2022-10-31 09:39] jakob-reesalu commented on #154
@burningalchemist Hm... here's another query and it actually works. It checks databases for whether a cleanup has been performed and there are multiple statements:
[code]

Even if it works uSQL gives these errors:
[code]

[2022-11-01 10:51] jakob-reesalu commented on #154
@burningalchemist We finally nailed it, in quite an ugly way, but at least it's working!

Some lessons: uSQL is a liar, queries that work in sql-exporter may render errors in uSQL. And to get the final query working in uSQL we had to put it in a stored procedure and execute that, but that's not necessary in sql-exporter where we can put the query directly in the collector's config.

This is how it

[2022-11-04 14:18] lukos opened #161 "Environment variables to override connection string and collectors list"
As a containerised app, the current implementation doesn't seem to support using either a secret and/or an environment variable to set the secret parts of the connection string and/or to adjust the list of collectors. These are both in the root config file, which although it can be treated as an entire secret, means that whoever needs to configure the e.g. scrape timeout offset, also would need ac

[2022-11-11 09:31] jakob-reesalu opened #163 "Metrics only produced for few initial scrapes"
**Describe the bug**
One of my collectors produce metrics during a few initial scrapes, like 4-5, then no more metrics are shown on the /metrics endpoint. The collector uses the query mentioned in this issue: https://github.com/burningalchemist/sql_exporter/issues/154#issue-1416324597, but since the query now has proved to work, I suspect there must be some other issue at play here.

**To Reproduc

[2022-11-11 09:46] burningalchemist commented on #163
Hey @jakob-reesalu, I was pretty busy with my daily job for the past two weeks. I'll take a look at this issue and also will follow up on the other one. 👍

[2022-11-11 09:57] jakob-reesalu commented on #163
@burningalchemist Ya no worries!

[2022-11-14 08:47] Kricket opened #164 "More useful connection logging"
**Is your feature request related to a problem? Please describe.**

I'm currently trying to use sql_exporter to fetch data from a Clickhouse database.
For now, I'm just trying to get a simple query to work.
Here's my configuration:

[code]

With the collector file:

[code]

When I run it, I get the following output:

[code]

As you can see, even with debug logging, I have no idea what the problem

[2022-11-14 10:43] jakob-reesalu commented on #164
I want to second this! Been working with the exporter for some time now, been thinking of doing a post like this. More specific logging would be helpful.

[2022-11-14 11:02] jakob-reesalu commented on #163
Update:
To get logging I've run my sql-exporters from command line now. One weird thing I've seen when running from command line is that everything seems to get locked up until I press up/down arrow (might be that any key press works) in the command line window.

For example: I refresh the /metrics page and it just gets stuck loading, then I bring up the command window and press up or down arrow a

[2022-11-15 08:14] jakob-reesalu commented on #163
Actually! I'm running in Powershell and googled on this, found out this is due to a Powershell setting described in this answer: https://serverfault.com/questions/204150/sometimes-powershell-stops-sending-output-until-i-press-enter-why

So that's solved now and no Sql-Exporter issue :)